body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.logo img{
    max-height: 80px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.search-form{
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 380px;
    margin-right: 50px;
    border: 1px solid #a9a9a9;
}
.search-form input{
    border: none;
    width: 100%;
}
.search-form button{
    background-color: #EF233C;
    border: none;
    padding: 0 10px;
}
.header-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.header-contact span{
    white-space: nowrap;
    margin-left: 10px;
}

/* navbar */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #EF233C;
    color: white;
    font-size: 17px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.category-button{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    padding: 20px 0;
    background-color: #D92037;
    cursor: pointer;
}
.category-button img{
    padding: 0 15px;
}
.navbar-mobile{
    display: none; 
}
.navbar-main{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 250px );
}
.navbar-pc{
    padding: 20px 15px;
}
.navbar-pc a{
    padding: 0 9px;
}
.cart{
    padding: 20px 15px;
    background-color: #D92037;
}

/* main */
.main{
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}
.top-main{
    display: flex;
    justify-content: space-between;
}
.aside{
    display: inline-block;
}
.category{
    width: 250px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.category-menu-1{
    display: block;
    padding: 15px 0 15px 11px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 15px;
    color: #333333;
}
.category-menu-1:hover{
    background-color: #EF233C;
    color: white;
}

.main-container{
    display: inline-block;
    width: calc(100% - 270px);
}
.main-banner, .main-banner img{
    width: 100%;
}
.list-product-container{
    margin-top: 20px;
}
.list-product{

}
.list-product-header{
    border-bottom: 3px solid #EF233C;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-product-header h2{
    min-width: 132px;
    text-align: left;
    margin: 0;
    padding: 12px 0 9px 0;
    font-size: 16px;
    font-weight: normal;
    color: white;
    background-color: #EF233C;
}
.list-product-header img{
    max-height: 39px;
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-right: none;
}
.product{
    width: calc(25% - 1px);
    height: 320px ;
    background-color: white;
    border-right: 1px solid #ccc;
}
.product-img{
    width: 85%;
    height: 200px;
    margin: 5px 7.5%;
    background-image: url('../img/sanpham1.jfif');
    background-position: center;
    background-size:cover ;
}
.product span{
    display: block;
    width: 85%;
    margin: 5px 7.5%;
}
.product-name{
    font-size: 16px;
    text-align: left;
    margin-top: 15px !important;
    line-height: 1.25;
    height: 40px;
    overflow: hidden;
}
.product-price{
    color:#D92037;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}
.product-status{
    color:#D92037;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}

/* bottom main */
.bottom-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}
.commits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 40px 0;

}
.commit{
    display: flex;
    width: calc(25% - 13.5px);
}
.commit-icon{
}
.commit div{
    width: calc(100% - 50px);
}
.commit-title{
    display: block;
    color: #D92037;
    font-weight: 600;
    padding: 2px 0 0 10px;
}
.commit-details{
    display: block;
    color: rgb(27, 27, 27);
    padding: 5px 0 0 10px;
}
.brands{
    width: calc(100% - 60px);
    background-color: #2B2D42;
    padding: 10px 30px;
}
.brand-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.brand{
    width: calc(15% - 20px);
    margin: 0 10px;
}
.brand img{
    width: 100%;
}








.footer{
    width: 100%;
    margin-top: 20px;
}
.top-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 8px solid #EF233C;
    background-color: #E1E1E1;
}
.top-footer-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-footer-container div{
    width: 29%;
}
.top-footer-container p{
    color: #2b2d42;
    font-size: 17px;
    margin: 10px 0;
}
.top-footer-container div .title{
    width:fit-content;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 2px solid black;
}
.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #1A1C27;
    color: #bfbfbf;
}
.bottom-footer-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.site-map{
    width: 49%;
}
.site-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #bfbfbf;
}
.site-links a{
    color: #bfbfbf;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 8px;
}
.copyright{
    text-align: center;
    font-size: 17px;
}
.copyright p{

}




.information{
    width: 49%;
}
.information p{
    margin: 0;
    font-size: 17px;
    line-height: 27px;
}
.information img{
    margin-top: 20px;
}
@media only screen and (max-width: 1200px){
    .navbar-pc{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        align-items: center;
        width: calc(100% - 54px);
    }
    .search-form-mobile{
        display: flex;
        flex-direction: row;
        height: 80%;
        width: 90%;
        margin: 0 3% 0 7%;
    }
    .search-form-mobile input{
        border: none;
        width: 100%;
    }
    .search-form-mobile button{
        background-color: #D92037;
        border: none;
        padding: 0 10px;
    }
    .product-img{
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }
    .commits{
        flex-direction: column;
    }
    .commit{
        width: 100%;
        margin-bottom: 15px;
    }
    .top-footer-container, .bottom-footer-container{
        flex-direction: column;
        padding-left: 10px;
    }
    .top-footer-container div{
        width: 100%;
    }
    .information, .site-map{
        width: 100%;
    }
    .information{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1000px){
    .top-header{
        background-color: #F1F1F1;
    }
    .top-header{
        max-width: 750px;
        justify-content: space-around;
    }
    .search-form{
        display: none;
    }
    .navbar-container{
        max-width: 750px;
    }
    .category-button{
        background-color: #EF233C;
        width: auto;
        padding: 15px 0;
    }
    .category-button span{
        display: none;
    }
    .category-button img{
        width: 25px;
    }
    .navbar-main{
        width: calc(100% - 55px);
    }
    .cart{
        padding: 15px 10px;
    }
    .top-main{
        justify-content: center;
    }
    .aside{
        display: none;
    }
    .main-container{
        width: 100%;
        max-width: 750px;
    }
    .products{
        border: none;
        display: flex;
        justify-content: space-around;
    }
    .product{
        width: calc(50% - 12px);
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
    .commits, .brands{
        max-width: 750px;
    }
    .brands{
        width: 100%;
        padding: 10px 0;
    }
    .top-footer-container,.bottom-footer-container{
        max-width: 750px;
    }
}
@media only screen and (max-width: 768px){
    .top-header{
        flex-direction: column;
    }
    .logo{
        margin: 10px 0;
    }
    .header-contact{
        margin-bottom: 10px;
    }
    .search-form{
        display: none;
    }
}